* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 100px); */

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* column-gap: 10px;
  row-gap: 10px; */
  gap: 10px;

  /* grid-auto-rows: 200px; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: 200px 100px 200px; */

  /* align-items: stretch; */
  /* justify-content: center; */
}

.item {
  background-color: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: skyblue 1px solid;
}

/* SPANNING ITEMS  */
.item:nth-of-type(1) {
  /* height: 100px;
  width: 100px;
  align-self: end; */

  /* background: #000; */
  /* grid-column-start: 1;
  grid-column-end: 3; */

  /* grid-column: 1 / span 2; */
  /* grid-column: 1 / 3; */
}

.item:nth-of-type(3) {
  /* background: #333;
  grid-row: 2 / 4; */
}

.item:nth-of-type(4) {
  /* background: #333;
  grid-row: 2 / 4; */
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
